Repository Lotus-Gaming-DE/ptcgp-extractor: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier formatting check
  entry: npx prettier --check
  language: system

eslint:
  name: eslint
  entry: npx eslint src tests
  language: system

chore: streamline hooks and CI
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  data/cards.json
  data/sets.json
  docs/json-format.md
Due: prettier

CI: store railway logs in dedicated file
  .github/workflows/ci.yml
  README.md
Due: prettier

test: enforce coverage threshold
  .github/workflows/ci.yml
  README.md
  jest.config.js
Due: prettier

Add Python linting and pip-audit
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  requirements-dev.txt
  requirements.txt
Due: prettier

chore: extend dependabot to python
  .github/dependabot.yml
  CHANGELOG.md
  README.md
Due: prettier

Add Python test suite and CI integration
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
  pytest.ini
  requirements-dev.txt
  src/__init__.py
  src/pyutils/__init__.py
  src/pyutils/math_utils.py
  tests_py/test_math_utils.py
Due: prettier

Add structlog JSON logging
  .env.example
  CHANGELOG.md
  README.md
  requirements.txt
  src/__init__.py
  src/export.ts
  src/lib.ts
  src/pyutils/logger.py
  tests/export-sample.test.ts
  tests/export.test.ts
  tests/node-version.test.ts
  tests/repo-path.test.ts
Due: prettier, eslint

Fix linting and ignore coverage
  .gitignore
  tests/repo-path.test.ts
Due: prettier, eslint

Fix CI Python deps and document structlog
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
Due: prettier

ci: conditionally run snyk
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
Due: prettier

ci: guard snyk steps against missing secrets
  .github/workflows/ci.yml
  .github/workflows/security.yml
  CHANGELOG.md
  README.md
Due: prettier

fix(ci): guard Snyk for forked PRs
  .env.example
  .github/workflows/ci.yml
  README.md
Due: prettier

chore(ci): install Snyk CLI and guard scan
  .env.example
  .github/workflows/ci.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
Due: prettier

feat: replace shell helper with python CLI
  .env.example
  .github/workflows/ci.yml
  .github/workflows/railway_logs.yml
  .gitignore
  CHANGELOG.md
  README.md
  data/cards.json
  data/sets.json
  scripts/run-export.sh
  scripts/run_export.py
  tests/export-sample.test.ts
Due: prettier, eslint

chore: enforce coverage and dependabot auto merge
  .github/workflows/dependabot-automerge.yml
  CHANGELOG.md
  README.md
  jest.config.js
  pytest.ini
  src/export.ts
  src/lib.ts
Due: prettier, eslint

refactor(logging): align with Codex guidelines
  .env.example
  .github/workflows/ci.yml
  .github/workflows/railway_logs.yml
  DEVELOPMENT_GUIDELINES.md
  README.md
  src/logger.ts
  src/pyutils/logger.py
Due: prettier, eslint

docs: note railway logging update
  .env.example
  .github/workflows/ci.yml
  .github/workflows/railway_logs.yml
  CHANGELOG.md
  README.md
Due: prettier

Create cards.json
  data/export/cards.json
Due: prettier

Create sets.json
  data/export/sets.json
Due: prettier

Update .gitignore
  .gitignore
Due: none

feat(ci): publish data to API repo
  .github/workflows/publish-data.yml
  .github/workflows/update-data.yml
  CHANGELOG.md
  README.md
  scripts/fetch_data.py
  tests_py/test_fetch_data.py
Due: prettier

Fix end-of-file newline in export JSON
  data/export/cards.json
  data/export/sets.json
Due: prettier

fix(fetch): resolve module import for CLI
  .github/workflows/publish-data.yml
  .github/workflows/update-data.yml
  CHANGELOG.md
  README.md
  data/export/cards.json
  data/export/sets.json
  scripts/fetch_data.py
  tests/export.test.ts
  tests_py/test_fetch_data.py
Due: prettier, eslint

fix: resolve flake8 redefinition error
  .github/workflows/publish-data.yml
  .github/workflows/update-data.yml
  CHANGELOG.md
  README.md
  data/export/cards.json
  data/export/sets.json
  scripts/fetch_data.py
  tests/export.test.ts
  tests_py/test_fetch_data.py
Due: prettier, eslint

Path conditions:
  prettier: any of: \.(ts|js|json|md|yml)$
  eslint: any of: \.(ts|mts|cts)$
